# 데이터 분석 연습
## 행, 열 선택하기

In [5]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

1. (초급) 'A' 열을 선택하십시오.

2.  (초급) 'A'와 'B' 열을 선택하십시오.

3. (중급) iloc을 사용하여 0번째 열을 선택하십시오.

4. (중급) loc을 사용하여 'A'와 'B' 열을 선택하십시오.

5. (중급) 'A' 열의 값이 2보다 큰 행만 선택하십시오.

6. (중급) 'A' 열의 값이 2보다 큰 행 중에서 'B' 열만 선택하십시오.

7. (고급) 'A' 열의 값이 짝수인 행만 선택하십시오.

8. (고급) 'A' 열의 값이 짝수인 행 중에서 'C' 열만 선택하십시오.

## 데이터 합치기

In [2]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

In [3]:
df1

   A  B
0  1  3
1  2  4

In [4]:
df2

   A  B
0  5  7
1  6  8

1. (초급) 두 개의 데이터프레임을 수직으로 합치기

2. (초급) 두 개의 데이터프레임을 수평으로 합치기

3. (중급) 수직으로 합친 후 인덱스를 재설정하기

4. (중급) 수평으로 합친 후 열 이름을 ['A', 'B', 'C', 'D']로 변경하기

5. (중급) df3까지 포함한 3개의 데이터프레임을 한 번에 수직으로 합치기

In [6]:
df3 = pd.DataFrame({'A': [9, 10], 'B': [11, 12]})
df3

    A   B
0   9  11
1  10  12

6. (중급) 두 데이터프레임을 각각 key1, key2 기준으로 합치기

In [18]:
df1 = pd.DataFrame({'key1': ['A', 'B', 'C'], 'value': [1, 2, 3]})
df2 = pd.DataFrame({'key2': ['B', 'D', 'C'], 'value': [4, 5, 6]})
df1

  key1  value
0    A      1
1    B      2
2    C      3

In [19]:
df2

  key2  value
0    B      4
1    D      5
2    C      6

## 데이터 시각화하기

1. (초급) tips 데이터셋을 불러오기

2. (초급) 요일별 전체 팁의 분포를 표시하는 boxplot 그리기

3. (중급) 요일별 팁의 분포를 표시하되, 점심과 저녁을 구분하여 boxplot 그리기

4. (중급) 성별에 따른 팁의 분포를 표시하는 violinplot 그리기

5. (고급) 요일별 전체 금액 대비 팁의 비율을 표시하는 barplot 그리기

6. (고급) 요일별 전체 금액 대비 팁의 비율을 표시하되, 흡연 여부에 따라 색상을 구분하여 barplot 그리기

7. (고급) 전체 금액 대비 팁의 비율과 테이블 인원수 사이의 관계를 회귀선과 함께 scatterplot으로 그리기

## 데이터 정렬하기

In [23]:
data = {'A': [3, 1, 2], 'B': [6, 4, 5], 'C': [9, 7, 8]}
df = pd.DataFrame(data)
df

   A  B  C
0  3  6  9
1  1  4  7
2  2  5  8

1. (초급) 'A' 열을 기준으로 오름차순 정렬하기

2. (초급) 'A' 열을 기준으로 내림차순 정렬하기

3. (중급) 'A' 열을 기준으로 오름차순 정렬한 후, 'B' 열을 기준으로 내림차순 정렬하기

4. (중급) 인덱스를 기준으로 오름차순 정렬하기

5. (중급) 인덱스를 기준으로 내림차순 정렬하기

6. (중급) 'A' 열을 기준으로 오름차순 정렬한 후, 정렬 결과를 원래 데이터프레임에 저장하기

7. (고급) 'A' 열의 값이 짝수인 행만 선택한 후, 'B' 열을 기준으로 오름차순 정렬하기

8. (고급) 'A' 열의 값이 홀수인 행만 선택한 후, 인덱스를 기준으로 내림차순 정렬하기

## CrossTab과 Pivot_Table

1. (초급) 두 개의 범주형 열을 사용하여 crosstab 생성하기

In [40]:
data = {'A': ['X', 'Y', 'X', 'Y'], 'B': ['M', 'N', 'M', 'N'], 'C': [1, 2, 3, 4], 'D': [5, 6, 7, 8]}
df = pd.DataFrame(data)
df

   A  B  C  D
0  X  M  1  5
1  Y  N  2  6
2  X  M  3  7
3  Y  N  4  8

2. (초급) 두 개의 범주형 열을 사용하여 C 값의 총합 구하기

In [41]:
data = {'A': ['X', 'Y', 'X', 'Y'], 'B': ['M', 'N', 'M', 'N'], 'C': [1, 2, 3, 4], 'D': [5, 6, 7, 8]}
df = pd.DataFrame(data)
df

   A  B  C  D
0  X  M  1  5
1  Y  N  2  6
2  X  M  3  7
3  Y  N  4  8

3. (중급) crosstab에서 행 및 열의 합계를 포함하기

4. (중급) pivot_table에서 두 개의 값 열에 대한 평균 계산하기

## 결측치 처리하기

In [43]:
import numpy as np

data = {'A': [1, np.nan, 3], 'B': [4, np.nan, np.nan], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
df

     A    B  C
0  1.0  4.0  7
1  NaN  NaN  8
2  3.0  NaN  9

1. (초급) 데이터프레임에서 결측치 확인하기

2. (초급) 데이터프레임에서 결측치가 있는 행 삭제하기

3. (초급) 데이터프레임에서 결측치가 있는 열 삭제하기

4. (중급) 데이터프레임에서 결측치를 0으로 채우기

5. (중급) 데이터프레임에서 결측치를 이전 값으로 채우기

6. (중급) 데이터프레임에서 결측치를 다음 값으로 채우기

7. (중급) 데이터프레임에서 결측치를 각 열의 평균값으로 채우기

8. (고급) 데이터프레임에서 결측치를 각 열의 중앙값으로 채우기

9. (고급) 데이터프레임에서 'A' 열의 결측치를 'A' 열의 평균값으로, 'B' 열의 결측치를 'B' 열의 중앙값으로 채우기

## 데이터 그룹화하기

In [47]:
data = {'A': ['X', 'Y', 'X', 'Y'], 'B': [1, 2, 3, 4], 'C': ['M', 'M', 'N', 'N']}
df = pd.DataFrame(data)
df

   A  B  C
0  X  1  M
1  Y  2  M
2  X  3  N
3  Y  4  N

1. (초급) 'A' 열을 기준으로 그룹화하고, 각 그룹의 'B' 열의 합계 구하기

2. (초급) 'A' 열을 기준으로 그룹화하고, 각 그룹의 평균 구하기

3. (중급) 'A'와 'C' 열을 기준으로 그룹화하고, 각 그룹의 'B' 열의 최대값 구하기

4. (중급) 'A' 열을 기준으로 그룹화하고, 각 그룹의 'B' 열의 중앙값 구하기

5. (중급) 'A' 열을 기준으로 그룹화하고, 각 그룹의 행 개수 구하기

6. (고급) 'A' 열을 기준으로 그룹화하고, 각 그룹의 'B' 열 값의 표준편차 구하기

7. (고급) 'A' 열을 기준으로 그룹화하고, 각 그룹의 'B' 열 값의 최소값과 최대값 구하기

8. (고급) 'A' 열을 기준으로 그룹화하고, 각 그룹의 'B' 열 값의 합계, 평균, 표준편차 구하기